{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
<div class="container mx-auto grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4">
  <div class="widget-box">
    <img src="{{ asset('images/logo_white.png')}}" alt="" class="">
    Ajouter un widget :
    <ul class="list-none">
    {% for widget in app.request.widgets %}
        <li>
            {% set form = get_widget_form(widget) %}
            {{ form_start(form, {action: path('add_widget')}) }}
            {{ form_widget(form) }}
            <input type="hidden" name="shortname" value="{{ widget.shortname }}">
            <button>Add {{ widget.name }}</button>
            {{ form_end(form) }}
            <form action="{{ path('add_widget') }}" method="post">
        </li>    
    {% endfor %}
    </ul>
  </div>
  {% for widget in userWidgets %}
    <div class="widget-box">
      {{ include(widget.twigFile, {'parameters' : widget|get_actual_parameters}) }}
    </div>
  {% endfor %}
  {# <div class="widget-box sm:col-span-2 md:col-span-3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam temporibus dolorum cupiditate explicabo commodi, sit eaque nihil ipsa, qui est corrupti numquam adipisci deleniti ad? Nobis, aspernatur nesciunt. Facere, blanditiis!</p>
  </div> #}
</div>
{% endblock %}
